@media only screen and (max-width: 36.99em) {
    .essays__prev {
        width: 1.3rem;
        height: 2.6rem;
        user-select: none;
        cursor: pointer;
        & img {
            transform: rotate(180deg);
            object-fit: contain;
        }
    }
}