@media only screen and (max-width: 36.99em) {
    .header__orange--in {
        position: absolute;
        left: 50%;
        animation: move1 .3s;
        animation-timing-function: ease-out;
        @keyframes move1 {

            from {
                left: -150%;
            }
            to { 
                left: 50%;
            }
        }
    }
}
