.header__menu {
    padding-top: 1.3rem;
    margin-bottom: 0;
    @include vert-c;
}

@media only screen and (min-width: 37em) and (max-width: 62.49em) {
    .header__menu {
        display: block;
    }
}

@media only screen and (max-width: 36.99em) {
    .header__menu {
        position: relative;
        top: 0;
        left: -150%;
        transform: translate(-50%,0);
        display: block;
        z-index: 100;
        margin-bottom: 76.7rem;
    }
}
