.introduce__desc {
    @include font (500, 1.8rem, 150%);
    letter-spacing: -0.01em;
    @include gray-3;
    margin-bottom: 3.7rem;
}

@media only screen and (min-width: 37em) and (max-width: 62.49em) {
    .introduce__desc {
        @include font (500, 1.3rem, 150%);
        margin-bottom: 1.9rem;
    }
}