.essays__navi {
    display: none;
}

@media only screen and (max-width: 36.99em) {
    .essays__navi {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0 2.6rem;
        z-index: 101;
    }
}