.furniture__title {
    @include font (700, 3.7rem, 120%);
    @include gray-1;
    margin-bottom: 4.2rem;
    text-align: center;
}

@media only screen and (min-width: 37em) and (max-width: 62.49em) {
    .furniture__title {
        @include font (700, 3.6rem, 120%);
        margin-bottom: 3.7rem;
    }
}

@media only screen and (max-width: 36.99em) {
    .furniture__title {
        @include font (700, 3.3rem, 120%);
        margin-bottom: 2.4rem;
    }
}