.card__share {
    @include font (600, 1.5rem, 150%);
    @include white;
    background: url('../img/main/products/share.svg');
    background-repeat: no-repeat;
    padding-left: 2.6rem;
    background-position-x: 0; //от левого края блока
    background-position-y: 50%; //по центру высоты блока
    background-size: 1.7rem;
    cursor: pointer;
}

@media only screen and (min-width: 37em) and (max-width: 42.99em),(min-width: 62.5em) and (max-width: 76.875em) {
    .card__share {
        margin-bottom: .8rem;
    }
}

